

/* Tab Navigation */
.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.tab.active {
    color: #000;
    border-bottom: 2px solid #000;
}

/* Main Container */
.container {
    padding: 15px;
}

.hidden {
    display: none;
}

/* The Box Card Design */
.box-card {
    border: 1px solid #eee; /* Simple border lang, no shadow */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px; /* Slight roundness */
}

/* Form Styling */
label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Para iwas zoom sa mobile */
}

.btn {
    width: 100%;
    padding: 12px;
    background: #000; /* Black & White theme */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

/* Log Styling */
.log-item {
    background: #fafafa; /* Very light gray para sa logs */
}

.log-meta {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

.log-item p {
    font-size: 14px;
}

.form-container{
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}