.button-container{
    position: fixed;
    display: flex;
    bottom: 70px;
    justify-content: end;
    width: 90%;
    padding: 20px 20px;
    gap: 20px;
}
#submitBtn {
    padding: 12px;
    background-color: #4361EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-weight: bold;
     height: 40px;
    width: 150px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}
#rstBtn {
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}
#footer-line{
    position: fixed;
    display: flex;
    bottom: 110px;
    justify-content: end;
    width: 90%;
    padding: 20px 20px;
    gap: 20px;
}