
.form-side {
  flex: 1.2;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px; 
  margin-top:20px;
}

.input-box span {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 15px 12px 50px;
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  outline: none;
  transition: 0.3s;
  font-size: 15px;
}

.input-box input:focus {
  border-color: #001f3f;
  background: #fffafa;
}

.login-btn {
  width: 100%;
  background: #ff0000;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
  margin-top: 10px;
}

.login-wrapper {
  display: flex;
  width: 500px;
  min-height: 600px; 
  height: auto; 
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

.login-container {
  background: var(--app-bg);
  background-image: radial-gradient(#d32f2f 0.5px, transparent 0.5px);
  background-size: 30px 30px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-text{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-box img {
    width: 120px;
    height: auto;
}

.login-footer {
    width: 100%;
    text-align: center;
    color: rgba(87, 86, 86, 0.589); 
    padding: 20px 0; 
    margin-top: auto; 
}

.login-footer p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.login-footer .developer {
    margin-top: 2px;
    font-style: italic;
    opacity: 0.8;
}